.services-banner {
    width: 100%; height: 750px;
    padding: 4rem 4rem 0 ;
    display: flex;
    align-items: center;
    margin: 0;
}
.carousel-inner {
    height: 525px;
}
.carousel-item .item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 4rem;
    color: white;
}
.item img{
    max-width: 22rem;
}
.item .text {
    padding-left: 5rem;
    text-align:start;
    font-family: 'Poppins';
}
.text h2 {
    font-size: 42px;
    font-weight: 400;
}
.text h3 {
    font-size: 28px;
    font-weight: 200;
}

.text .line {
    height: 0.5rem;
    margin-bottom: 1rem;
}


@media only screen and (max-width: 460px){
    .carousel {
        height: 620px;
    }
    .services-banner {
        display: block;
        padding: 6rem 0 0 0 ;
        height: 640px;
        margin: 1rem 0 2.5rem 0;
    }
    .carousel-item .item {
        display: block;
    }

    .carousel-item .item {
        text-align: center;
        padding: 0rem 1.5rem;
    }
    .item img{
        max-height: 15rem;
    }

    .item .text {
        height: 120%;
        margin-top: 2rem;
        padding: 0;
        text-align: center;

    }
    .text h2 {
        font-size: 28px;
        font-weight: 700;
    }
    .text h3 {
        font-size: 22px;
        font-weight: 200;
        
    }
}
