
@media only screen and (max-width: 576px) {
    .cards-list {
        display: block;
    }
}
@media only screen and (min-width: 576px) and (max-width: 1500px) {
    .cards-list {
        width: 100%; height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }

}