@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@300;400;600;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;1,100&display=swap');
body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to right, #000000, #1b152e, #343164, #281f33 ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.construction-page {
  width: 100vw; height: 100vh;
  display: flex;
  align-items: center;
  text-align: center;
}
.construction-page div {
  width: 100%; height: 75%;
}

.construction-page div h1 {
  padding: 3rem;
  font-family: 'Libre Franklin';
  font-weight: 400;
  font-size: 26px;
  color: rgb(218, 202, 235);
}

.construction-page div img {
  width: 22rem;
}

.construction-page div .regresive-count {
  height: 4rem
}
.construction-page div .regresive-count span {
  font-family: 'Poppins';
  font-size: 26px;
  font-weight: 200;
  color: white;
}